.Pagina-productos{
  background-color: #D88C54;
  padding-bottom: 50px;
}

.Pagina-productos hr{
  background-color: #FFC77A;
}

.Pagina-productos h1{
  color: #A4412A;
  margin-left: 50px;
}

.filtros{
  display: flex;
  justify-self: left;
  margin-left: 25px;
  gap: 30px;
}

.filtros h2{
  color: #A4412A;
  background-color: #FFC77A;
  border-radius: 7px;
  padding-inline: 20px;
  height: 50px;
  font-size: 25px;
  align-content: center;
  font-weight: 700;
}

.filtros button{
  background-color: #A4412A;
  border: transparent;
  font-size: 20px;
  padding-inline: 20px;
  height: 40px;
  align-self: center;
  align-content: center;
  border-radius: 50px;
  color: #FFC77A;
}

#restablecer{
  background-color: #FFC77A;
  color: #A4412A;
}

#buscador{
  width: 200px;
  height: 40px;
  border-radius: 50px;
  align-content: center;
  background-color: #FFC77A;
  border: transparent;
  align-self: center;
  padding-inline: 50px;
  margin-left: 5px ;
  font-size: 20px;
  color: #A4412A;
  font-weight: 700;
  outline: none;
}

#buscador::placeholder
{
  color: #D88C54;
}