/* TIPOGRAFÍAS */

@font-face {
  font-family: 'Source sans 3';
  src: url('./Tipografías/Source_Sans_3/static/SourceSans3-Bold.ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Source sans 3';
  src: url('./Tipografías/Source_Sans_3/static/SourceSans3-SemiBold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Source sans 3';
  src: url('./Tipografías/Source_Sans_3/static/SourceSans3-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

/* ESTILOS GENERALES */

*{
  text-align: center;
  font-family: "Source sans 3";
  font-weight: 500;
  color: #FFC77A;
}

body{
  margin: 0%;
}

button{
  transition: transform 0.5s ease;
  font-weight: 700;
  border-radius: 10px;
}

button:hover, .item:hover{
  transform: scale(1.07);
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1{
  font-family: "Pacifico";
  font-size: 80px;
}

p {
  font-size: 30px;
}

img{
  object-fit: contain;
}

li{
  list-style: none;
}

/* HEADER */

header{
  display: flex;
  position: fixed;
  width: 100%;
  max-height: 16vh;
  z-index: 100;
  top: 0px;
  background-color: transparent;
  transition: background-color 1s ease;
}

.deslizado{
  background-color: #A4412A;
}

nav{
  width: 100%;
}

.logo-header{
  width: 200px;
}

header a{
  font-size: 28px;
  font-weight: 700;
}

header a:hover{
  opacity: 68%;
}

header img{
  padding-top: 5px;
}

nav ul{
  display: flex;
  gap: 10%;
  width: 90%;
  align-items: center;
  justify-content: center;
  padding: 0% 4%;
}

#carrito img{
  width: 40px;
}

.icon{
  position: absolute;
  top: 32px;  
  right: 31px; 
  background: #9AAA3D;
  color: #A4412A;
  font-size: 13px;
  font-weight: 700;
  padding: 2px;
  border-radius: 50%; 
  width: 18px;
  height: 17px;
  text-align: center;
  letter-spacing: -1px;
}

/* GRILLA PRODUCTOS */

.productos-grilla{
  justify-content: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: max-content;
  row-gap: 30px;
  margin-top: 60px;
  column-gap: 2%;
}

  /* ITEM */

  .item{
    color: #A4412A;
    background-color: #FFC77A;
    border-radius: 20px;
    padding: 10px;
    width: 180px;
    justify-self: center;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
    min-height: 275px;
    filter: brightness(1);
  }

  .item:hover{
    filter: brightness(1.05);
  }

  #img-item{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-size: cover; 
    background-position: center;
    filter: brightness(0.8);
  }
  
  .item h3{
  font-size: 150%;
  margin: 0%;
  padding-top: 10px;
  color: #A4412A;
  width: 100%;
  word-break: break-word;
  text-align: center;
  }

.productos button{
  font-size: 22px;
  padding: 0.5em 1.2em;
  margin: 100px 0px;
  background-color: #A4412A;
  border-style: none;
}

/* TÍTULO */

.titulo{
  width: fit-content;
}

.titulo h1{
  margin-top: 0%;
  margin-bottom: 60px;
}

.subrayado{
  padding: 15px 25px;
  border: 0px;
  border-radius: 7px;
  width: 100%;
  margin: -115px 0px 60px 0px;
  justify-self: center;
}

.alerta{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.336);
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.alerta-contenido{
  background-color: #FFC77A;
  padding: 25px;
  border-radius: 20px;
  max-width: 400px;
}

.alerta-contenido p{
  color: #A4412A;
  margin: 10px;
  font-size: 28px;
}

.alerta-contenido button{
  background-color: #A4412A;
  border: none;
  padding: 5px 20px;
  margin-top: 10px;
  font-size: 20px;
}